* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
    color: white;
}

header {
    text-align: center;
    padding: 30px;
    background: #f39c12;
    color: black;
}

nav a {
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 40px;
}

.hero img {
    width: 250px;
    border-radius: 50%;
    animation: zoom 1.5s;
}

.hero-text {
    max-width: 500px;
}

button {
    padding: 10px 20px;
    background: #f39c12;
    border: none;
    cursor: pointer;
}

.content, .skills {
    padding: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.card {
    background: #222;
    padding: 30px;
    text-align: center;
    transition: 0.4s;
}

.card:hover {
    background: #f39c12;
    color: black;
    transform: scale(1.05);
}

.fade {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(40px);}
    to {opacity: 1; transform: translateY(0);}
}

@keyframes zoom {
    from {transform: scale(0);}
    to {transform: scale(1);}
}
