:root{
 --bg:#0f172a;
 --card:#020617;
 --text:#e5e7eb;
 --accent:#6366f1;
 --soft:#94a3b8;
}

.light{
 --bg:#f8fafc;
 --card:#ffffff;
 --text:#020617;
 --soft:#475569;
}

*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family: "Segoe UI", Arial;
}

body{
 background:var(--bg);
 color:var(--text);
 transition:0.4s;
 line-height:1.7;
}

nav{
 position:sticky;
 top:0;
 z-index:10;
 background:var(--card);
 display:flex;
 justify-content:space-between;
 align-items:center;
 padding:15px 40px;
 box-shadow:0 10px 40px rgba(0,0,0,.4);
}

nav a{
 color:var(--text);
 text-decoration:none;
 margin-left:20px;
 font-weight:500;
 position:relative;
}

nav a::after{
 content:"";
 position:absolute;
 left:0;
 bottom:-6px;
 width:0;
 height:2px;
 background:var(--accent);
 transition:.3s;
}

nav a:hover::after{width:100%}

.toggle{
 cursor:pointer;
 margin-left:20px;
 font-size:18px;
}

.container{
 max-width:1150px;
 margin:auto;
 padding:60px 25px;
}

.card{
 background:var(--card);
 border-radius:22px;
 padding:40px;
 box-shadow:0 30px 70px rgba(0,0,0,.45);
 animation:fadeUp 1s ease;
}

@keyframes fadeUp{
 from{opacity:0;transform:translateY(40px)}
 to{opacity:1;transform:none}
}

.hero{
 display:grid;
 grid-template-columns:1fr 1fr;
 gap:50px;
 align-items:center;
}

@media(max-width:900px){
 .hero{grid-template-columns:1fr}
}

img{
 width:240px;
 height:240px;
 border-radius:50%;
 object-fit:cover;
 border:5px solid var(--accent);
 transition:.4s;
}

img:hover{transform:scale(1.07)}

.section-title{
 font-size:32px;
 margin-bottom:20px;
}

p{
 margin-bottom:15px;
 color:var(--soft);
}

ul{
 margin-left:20px;
}

li{
 margin-bottom:10px;
}

.skills span{
 display:inline-block;
 margin:8px;
 padding:12px 20px;
 background:var(--accent);
 color:white;
 border-radius:25px;
 transition:.3s;
}

.skills span:hover{
 transform:translateY(-6px) scale(1.05);
 box-shadow:0 10px 30px rgba(99,102,241,.6);
}
